<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="connectionString" connectionString="Server='82.156.30.225';Database='shoot'; uid='fycy';Password='201921121110'"
			 providerName ="MySqlConnector"/>
	</connectionStrings>
	<appSettings>
		<add key ="width" value ="512"/>
		<add key ="height" value="1024"/>
	</appSettings>
</configuration>