<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="connectionString" connectionString="Server='82.156.30.225';Database='shoot'; uid='shoot';Password='shoot'" providerName="MySqlConnector" />
	</connectionStrings>
	<appSettings>
		<add key="width" value="480" />
		<add key="height" value="860" />
		<add key="EnemyCount" value="20" />
		<add key="EnemyBulletWidth" value="15" />
		<add key="EnemyBulletHeight" value="37" />
		<add key="EnemyBulletSpeed" value="25" />
		<add key="EnemyBulletPower" value="10" />
		<add key="HeroBulletWidth" value="20" />
		<add key="HeroBulletHeight" value="20" />
		<add key="HeroBulletSpeed" value="25" />
		<add key="HeroBulletPower" value="10" />
		<add key="EnemyBossBulletWidth" value="20" />
		<add key="EnemyBossBulletHeight" value="20" />
		<add key="EnemyBossBulletSpeed" value="20" />
		<add key="EnemyBossBulletPower" value="10" />
		<add key="BulletImagPathRoot" value="../../Resources/Images/bullet/" />
		<add key="BuffImagPathRoot" value="../../Resources/Images/buff/" />
		<add key="HeroImagPathRoot" value="../../Resources/Images/spaceShip/hero.png" />
		<add key="EnemyImagPathRoot" value="../../Resources/Images/spaceShip/enemy1.png" />
		<add key="EnemyBossImagPathRoot" value="../../Resources/Images/spaceShip/boss.gif" />
		<add key="BackgroundImagPath" value="../../Resources/Images/background.png" />
		<add key="LoseImagPath" value="../../Resources/Images/lose.png" />
		<add key="WonImagPath" value="../../Resources/Images/won.png" />
		<add key="BossShootRate" value="15" />
		<add key="EnemyShootRate" value="25" />
		<add key="EnemyBossWidth" value="200" />
		<add key="EnemyBossHeight" value="117" />
		<add key="EnemyBossSpeed" value="10" />
		<add key="EnemyBossLife" value="400" />
		<add key="EnemyWidth" value="80" />
		<add key="EnemyHeight" value="69" />
		<add key="EnemySpeed" value="10" />
		<add key="EnemyLife" value="30" />
		<add key="HeroWidth" value="50" />
		<add key="HeroHeight" value="45" />
		<add key="HeroSpeed" value="20" />
		<add key="HeroLife" value="100" />
		<add key="BombImagPathRoot" value="../../Resources/Images/bomb/" />
		<add key="BuffRate" value="100" />
		<add key="BlooBarWidth" value="50" />
		<add key="BlooBarHeight" value="50" />
		<add key="BlooBarSpeed" value="5" />
		<add key="BlooBarWidth" value="1" />
		<add key="BlooBarHeight" value="10" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>